.main_wrapper {
  color: black;
  margin-top: 15px;
  border-width: 3.5px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      #704b70,
      #b353e3,
      #8d4ff1,
      #6a4bfe
    )
    1;

  /* height: calc(100vh - 69px); */
}
@media screen and (max-width: 480px) {
  /*main wrapper*/
  .main_wrapper {
    margin-top: 8px;
  }
}
